@model SportsStore.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="SignUp" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Đăng ký</button>

     <div class="mt-3">
        <p>Đã có tài khoản? 
            <a href="@Url.Action("SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"] })">
                Đăng nhập ngay
            </a>
        </p>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}